<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arhiv UI 3</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg">
    <link rel="stylesheet" href="/public/index.css">
    <script src="/public/index.js"></script>
  </head>
  <body>
    <nav id="header">
      <a href="/new" class="ml-auto flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
        Add
      </a>
    </nav>

    <aside id="sidebar">
      <a href="/">index</a>

      {% for document_type in global.nav_document_types %}
      <a href="/catalogs/{{document_type}}">{{ document_type }}s</a>
      {% endfor %}
    </aside>

    <main id="app">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
