<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arhiv UI 3</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg">
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/windi.css">
  </head>
  <body>
    <nav id="header">
      <a href="/" class="mr-4 text-gray-500 tracking-wider">index</a>

      {% for document_type in global.nav_document_types %}
      <a
        href="/catalogs/{{document_type}}"
        class="mr-4 text-gray-500 tracking-wider"
      >{{ document_type }}s</a>
      {% endfor %}
    </nav>

    <main id="app">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
