<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arhiv UI 3</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/windi.css">
  </head>
  <body>
    <div id="app" class="h-screen min-h-screen flex flex-col">
      <nav class="px-4 py-2 mb-4 text-xl">
        <a href="/" class="mr-4">
          Index
        </a>

        <a href="/catalogs">
          Catalog
        </a>
      </nav>

      <main class="p-8 flex-auto">
        {% block content %}{% endblock %}
      </main>

      <nav class="px-4 py-2 mt-4 text-xl">
        {% for document_type in get_nav_document_types() %}
        <a href="/catalogs/{{document_type}}" class="mr-4">
          {{ document_type }}s
        </a>
        {% endfor %}
      </nav>
    </div>
  </body>
</html>
