@layer components {
  .modal-container {
    [aria-hidden='true'] {
      display: none;
    }

    @apply fixed z-50 inset-0 flex flex-col bg-zinc-800/90;
  }

  .modal-overlay {
    @apply fixed z-10 inset-0;
  }

  .modal-dialog-container {
    @apply fixed inset-0 flex flex-col items-center justify-start z-20;
  }

  .modal-dialog {
    @apply z-10 mx-auto rounded-md shadow-md var-card-width var-bg-color flex flex-col;

    margin-top: 1rem;
    max-height: calc(100% - 2rem);
  }

  .modal-title {
    @apply text-lg font-bold tracking-wider uppercase var-bg-secondary-color rounded-t-md;
    @apply p-2 sm:p-4 md:px-6;
    @apply flex flex-nowrap justify-between gap-4;

    &.is-alarming {
      @apply bg-red-500/75;
    }
  }

  .modal-content {
    @apply p-2 sm:p-4 md:p-6 break-words overflow-y-auto overflow-x-auto max-w-full custom-scrollbar var-bg-color;
  }

  .modal-buttons {
    @apply buttons var-bg-secondary-color rounded-b-md;
  }
}
