[Unit]
Description=Arhiv server

[Service]
Type=simple
StandardOutput=journal
Environment=WAYLAND_DISPLAY=wayland-1
Environment=ARHIV_ROOT=%h/arhiv
ExecStart=arhiv server -v
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
