[Unit]
Description=Arhiv UI server

[Service]
Type=simple
StandardOutput=journal
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=arhiv ui-server -v
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target
