@layer components {
  .markup {
    @apply prose;

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & :is(h3, h4, h5, h6) {
      @apply text-lg;
    }

    .RefPreview {
      margin-top: 1rem;

      img {
        margin-top: 0;
      }
    }

    hyphens: auto;
    overflow-wrap: break-word;
  }
}
