<ul class="flex font-mono tracking-wide">
  {% for item in items %}
  <li class="mx-2">
    {% if not loop.first %}
    /
    {% endif %}
  </li>
  <li>
    {% if item.url %}
    <a href="{{item.url}}">
      {{item.name}}
    </a>
    {% else %}
    {{item.name}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
