<ul class="flex font-mono tracking-wide">
  {% for item in items %}
  {% if not loop.first %}
  <li class="mx-2">
    /
  </li>
  {% endif %}
  <li>
    {% if item.url %}
    <a href="{{item.url}}">
      {{item.name}}
    </a>
    {% else %}
    {{item.name}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
