{% macro render_items(items) %}
<ul>
  {% for item in items %}
  <li class="py-6 min-h-6rem break-words">
    <a href="/documents/{{ item.id }}" class="clean-link">
      <h2 class="mb-2 font-semibold tracking-wide">
        {{ item.title }}
      </h2>
    </a>

    <div class="flex justify-between text-gray-400 font-mono text-sm">
      <div>
        {{ item.updated_at | date }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro render_items %}
