[Unit]
Description=Arhiv Prime server of user %I

[Service]
Type=simple
User=%I
StandardOutput=journal
ExecStart=arhiv prime-server
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
