{% extends "base.html.tera" %}

{% block heading %}
  {{document.documentType}}
{% endblock %}

{% block content %}

<pre class="whitespace-pre-wrap">
  <code>
    {{ document | json_encode(pretty=true) | safe }}
  </code>
</pre>

{% endblock %}
