{% extends "base.html.tera" %}

{% block toolbar %}

{{ breadcrumbs | safe }}

{% endblock %}


{% block content %}

<pre class="mb-8 text-sm">
  <code>
   {{ status }}
  </code>
</pre>

<h3 class="mb-2 section-heading text-lg">Catalogs by type:</h3>
<ul>
  {% for document_type in document_types %}
  <li class="mb-1">
    <a href="/catalogs/{{document_type}}">
      {{ document_type }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
