{% extends "base.html.tera" %}

{% block toolbar %}

{{ breadcrumbs | safe }}

{% endblock %}

{% block content %}

<h1 class="mb-12 text-2xl uppercase">
  new {{document_type}}
</h1>

{{ editor | safe }}

{% endblock %}
