.Toaster-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: var(--max-width);

  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 2px;
  text-align: center;
  padding: var(--spacing-medium);
}

.Toaster-container:empty {
  display: none;
}
