.Theme-spacing-label {
  display: inline-block;
  width: 100px;
}

.Theme-icon {
  margin: 0 1rem;
}

.Theme-color-square {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.Theme-spacing-square {
  display: inline-block;
  background-color: var(--color-primary-lighter);
  box-shadow: var(--box-shadow);
}

.Theme-buttons {
  display: flex;
  flex-direction: column;
}

.Theme-buttons-spacer {
  display: inline-block;
  width: 2rem;
}
