.Note-title {
  text-align: center;
  letter-spacing: 1.4px;
  font-weight: bold;
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
}

.Note-document {
  hyphens: auto;
  text-align: justify;
}

.Note-image {
  display: block;
  padding: var(--spacing-medium) 0;
  margin-bottom: var(--spacing-medium);
}
