@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* make taps faster - browser doesn't wait 300ms for double-tap to zoom */
  a,
  button {
    touch-action: manipulation;
  }

  a:not(.clean-link) {
    @apply text-blue-700;
  }

  [hidden] {
    display: none !important;
  }
}

@layer components {
  .markup {
    @apply prose;

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & :is(h3, h4, h5, h6) {
      @apply text-lg;
    }

    hyphens: auto;
    overflow-wrap: break-word;

    /* task lists */
    & li > input[type='checkbox'] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .section-heading {
    @apply uppercase font-mono text-gray-400 text-xs tracking-widest;
  }

  .form {
    & .field {
      display: block;

      &:not(input[type='checkbox'], input[type='number'], select) {
        @apply w-full;
      }

      &[readonly] {
        @apply bg-gray-100;
      }
    }

    & .has-errors {
      & .field {
        @apply border-red-500;
      }

      & h5 {
        @apply text-red-500;
      }
    }

    & textarea {
      @apply p-2;

      resize: none;
      min-height: 19rem;
      overflow-y: hidden;
    }
  }

  .btn {
    @apply py-2 px-6 rounded-sm border-2;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-75 focus:border-opacity-0;
    @apply font-semibold tracking-wide cursor-pointer;

    @apply hover:bg-opacity-20;

    @apply flex items-center;

    &[disabled] {
      cursor: not-allowed;

      &.is-busy {
        cursor: progress;
      }
    }

    &.btn-simple {
      @apply border-opacity-0;
      @apply text-blue-700 hover:bg-blue-300 hover:bg-opacity-20;

      &.btn-alarming {
        @apply text-red-700 hover:bg-red-300;
      }
    }

    &.btn-prime {
      @apply text-white rounded-md hover:shadow-lg;
      @apply bg-blue-500 hover:bg-blue-600;

      &.btn-alarming {
        @apply bg-red-500 hover:bg-red-600 hover:shadow-lg;
      }

      &[disabled] {
        @apply bg-blue-200 hover:bg-blue-200 hover:shadow-inherit;
      }
    }

    &.btn-text {
      font-weight: inherit;
      @apply px-4 py-1 border-0 hover:bg-inherit;
      @apply text-blue-800 hover:text-blue-600;

      &.btn-alarming {
        @apply text-red-700 hover:text-red-600;
      }
    }
  }

  .icon {
    @apply inline h-5 w-5;
  }
}

@layer utilities {
  .var-bg-color {
    @apply bg-zinc-100;
  }

  .var-card-width {
    width: 39rem;
  }
}

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  text-rendering: optimizeLegibility;
  @apply antialiased;

  color: #333;
  @apply var-bg-color;

  font-size: 16px;
}

main {
  height: 100%;
}

#document-head {
  @apply mb-10 ml-auto relative text-sm;

  & td {
    @apply pb-1 tracking-wide;
  }

  & td:first-child {
    text-align: right;
    padding-right: 0.6rem;
    padding-bottom: 0;
    vertical-align: middle;
  }
}

#modal-root {
  z-index: 1;
}

.cm-editor {
  font-size: 1rem;
  min-height: 19rem;

  @apply border-2;

  & .cm-scroller {
    overflow: auto;
  }

  &.cm-focused {
    @apply outline-none ring-2 ring-blue-600 ring-opacity-75 border-opacity-0 !important;
  }

  & .cm-content {
    @apply pl-4 pr-2;
  }

  & .cm-gutters {
    border: 0;
    @apply pl-2 bg-inherit;
  }
}

.modal-container {
  [aria-hidden='true'] {
    display: none;
  }

  @apply fixed z-50 inset-0 overflow-y-scroll flex flex-col;

  .modal-overlay {
    @apply fixed z-10 inset-0 backdrop-blur-md;
  }

  .modal-dialog {
    @apply z-10 mx-auto mt-16 mb-8 rounded-md shadow-lg var-card-width bg-white;
  }

  .modal-title {
    @apply text-lg font-bold tracking-wider uppercase bg-gray-50 rounded-t-md;
    @apply p-2 sm:p-4 md:px-6;

    &.is-alarming {
      @apply bg-red-500 bg-opacity-75;
    }
  }

  .modal-content {
    @apply p-2 sm:p-4 md:p-6 break-words;
  }

  .modal-buttons {
    @apply flex justify-end gap-8 bg-gray-50 rounded-b-md;
    @apply p-2 sm:p-4 md:p-6;
  }
}

.components-demo {
  @apply divide-y-2 divide-dashed max-w-screen-md mx-auto;

  & > div {
    @apply py-12 px-8;
  }

  h1 {
    @apply text-xl font-bold font-serif mb-2;
  }

  .examples {
    @apply flex items-center gap-6 flex-wrap mb-8;
  }

  .examples-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
