@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* make taps faster - browser doesn't wait 300ms for double-tap to zoom */
  a,
  button {
    touch-action: manipulation;
  }

  [hidden] {
    display: none !important;
  }
}

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  text-rendering: optimizeLegibility;
  @apply antialiased;

  color: #333;
  @apply bg-zinc-100;
}

main {
  height: 100%;
}

@layer components {
  .markup {
    @apply prose;

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & :is(h3, h4, h5, h6) {
      @apply text-lg;
    }

    hyphens: auto;
    overflow-wrap: break-word;

    /* task lists */
    & li > input[type='checkbox'] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .section-heading {
    @apply uppercase font-mono text-gray-400 text-xs tracking-widest;
  }

  .form {
    & .field {
      display: block;

      &:not(input[type='checkbox'], input[type='number'], select) {
        @apply w-full;
      }

      &[readonly] {
        @apply bg-gray-100;
      }
    }

    & .has-errors {
      & .field {
        @apply border-red-500;
      }

      & h5 {
        @apply text-red-500;
      }
    }

    & textarea {
      @apply p-2;

      resize: none;
      min-height: 19rem;
      overflow-y: hidden;
    }
  }

  .btn {
    @apply py-2 px-6 rounded-sm border-2;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-75 focus:border-opacity-0;
    @apply font-semibold tracking-wide cursor-pointer;

    @apply text-blue-600 hover:text-blue-700 hover:bg-blue-200 hover:bg-opacity-20;

    &.btn-simple {
      @apply border-opacity-0;
      @apply text-blue-700 hover:bg-blue-300 hover:bg-opacity-20;
    }

    &.btn-prime {
      @apply text-white rounded-md hover:shadow-lg;

      @apply bg-blue-500 hover:bg-blue-600;
    }

    &.btn-warn {
      @apply text-white rounded-md hover:shadow-lg;

      @apply bg-yellow-500 hover:bg-yellow-600;
    }

    &.btn-danger {
      @apply text-white rounded-md hover:shadow-lg;

      @apply bg-red-500 hover:bg-red-600;
    }

    &.btn-link {
      font-weight: inherit;
      @apply p-0 border-0 hover:bg-inherit;
    }
  }

  .icon {
    @apply inline h-5 w-5;
  }
}

#document-head {
  @apply mb-10 ml-auto relative text-sm;

  & td {
    @apply pb-1 tracking-wide;
  }

  & td:first-child {
    text-align: right;
    padding-right: 0.6rem;
    padding-bottom: 0;
    vertical-align: middle;
  }
}

.cm-editor {
  font-size: 1rem;
  min-height: 19rem;

  @apply border-2;

  & .cm-scroller {
    overflow: auto;
  }

  &.cm-focused {
    @apply outline-none ring-2 ring-blue-600 ring-opacity-75 border-opacity-0 !important;
  }

  & .cm-content {
    @apply pl-4 pr-2;
  }

  & .cm-gutters {
    background-color: var(--bg-color);
    border: 0;
    @apply pl-2;
  }
}
