@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/Button.css';
@import './components/Dialog.css';
@import './components/Markup.css';
@import './components/Form/Editor/index.css';
@import './components/Form/Form.css';

@import './ComponentsDemo.css';
@import './Workspace/CardContainer.css';

@layer utilities {
  .var-bg-color {
    @apply bg-white dark:bg-gray-900;
  }

  .var-bg-secondary-color {
    @apply bg-zinc-100 dark:bg-gray-800;
  }

  .var-bg-tertiary-color {
    @apply bg-zinc-100 dark:bg-zinc-900;
  }

  .var-card-width {
    width: 39rem;
    max-width: 98vw;
  }

  .var-active-color {
    @apply text-blue-800 dark:text-blue-300;
  }

  .var-active-color-hover {
    @apply hover:text-blue-600;
  }

  .var-item-active-bg-color {
    @apply bg-blue-100 dark:bg-blue-900;
  }

  .var-placeholder-color {
    @apply text-gray-500;
  }

  .var-form-border-color {
    @apply border-gray-200 dark:border-zinc-700;
  }

  .var-text-heading-color {
    @apply text-slate-900 dark:text-slate-100
  }

  .buttons {
    @apply flex justify-end gap-8;
    @apply p-2 sm:p-4 md:p-6;
  }

  .custom-scrollbar {
    --sb-track-color: transparent;
    --sb-thumb-color: rgb(156 163 175);
    --sb-size: 4px;

    /* for Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    /* --- */

    &::-webkit-scrollbar {
      width: var(--sb-size);
      height: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 10px;
    }
  }

  .break-anywhere {
    overflow-wrap: anywhere;
  }
}

@layer components {
  .heading-1 {
    @apply text-xl font-bold tracking-tight var-text-heading-color;
  }

  .heading-2 {
    @apply text-lg font-semibold tracking-tight var-text-heading-color;
  }

  .section-heading {
    @apply uppercase font-mono text-gray-400 text-xs tracking-widest;
  }

  .form-field-heading {
    @apply font-semibold text-sky-800 uppercase text-sm;
  }

  .icon {
    @apply inline h-5 w-5;
  }

  .document-head {
    @apply relative text-sm grow-0 shrink-0;

    & td {
      @apply pb-1 tracking-wide;
    }

    & td:first-child {
      text-align: right;
      padding-right: 0.6rem;
      padding-bottom: 0;
      vertical-align: middle;
    }
  }

  .audio-player {
    @apply bg-stone-100;

    & button {
      @apply text-gray-600 hover:text-sky-800;

      &[disabled] {
        @apply text-gray-300 hover:text-gray-300;
      }
    }

    & input[type='range'] {
      @apply block h-2 bg-blue-100 appearance-none cursor-pointer rounded-md;

      &[disabled] {
        @apply cursor-default;
      }
    }
  }

  .sm-selectable {
    @apply transition-colors;

    &[data-selected='true'] {
      @apply var-item-active-bg-color;
    }
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-solid var-form-border-color;
  }

  /* override @tailwind forms plugin border */
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-2 border-solid var-form-border-color;
  }
  input::placeholder,
  textarea::placeholder {
    @apply var-placeholder-color;
  }

  /* make taps faster - browser doesn't wait 300ms for double-tap to zoom */
  a,
  button {
    touch-action: manipulation;
  }

  [hidden] {
    display: none !important;
  }

  html,
  body {
    margin: 0;
    padding: 0;

    height: fit-content;
    width: fit-content;

    text-rendering: optimizeLegibility;
    @apply antialiased;

    @apply text-slate-800 dark:text-slate-100;
    @apply var-bg-secondary-color;

    font-size: 16px;
  }

  main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
}
