.Notes-link {
  margin-bottom: var(--spacing-medium);
  display: flex;
  align-items: baseline;
}

.Notes-counter {
  margin-left: var(--spacing-small);
  white-space: nowrap;
}

.Notes-ts {
  margin-right: var(--spacing-small);
}
