<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arhiv UI 3</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <style>
      html, body, #app {
        height: 100vh;
        min-height: 100vh;

        font-size: 18px;
        text-rendering: optimizeLegibility;
      }

      #app {
        margin-left: 10vw;
        width: 90vw;
        max-width: 800px;
      }

      {% include "../public/windi.css" %}
    </style>
  </head>
  <body>
    <div id="app" class="h-screen min-h-screen bg-gray-100 flex flex-col">
      <nav class="mb-3 text-xxl">
        <a href="/" class="mr-3">
          Index
        </a>

        <a href="/catalogs">
          Catalog
        </a>
      </nav>

      <main class="bg-blue-100 mb-3 flex-1">
        {% block content %}{% endblock %}
      </main>

      <nav class="text-xl">
        {% for document_type in context.nav_document_types %}
        <a href="/catalogs/{{document_type}}">
          {{ document_type }}
        </a>
        {% endfor %}
      </nav>
    </div>
  </body>
</html>
