<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arhiv UI 3</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <style>
      html, body {
        height: 100vh;
        min-height: 100vh;

        font-size: 18px;
        text-rendering: optimizeLegibility;
      }

      {% include "../public/windi.css" %}
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
