@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* make taps faster - browser doesn't wait 300ms for double-tap to zoom */
  a, button {
    touch-action: manipulation;
  }
}

html, body {
  height: auto;
  min-height: 100vh;

  color: #333333;
  @apply bg-yellow-100;

  text-rendering: optimizeLegibility;
  @apply antialiased;

  --max-width: 800px;
}

body {
  @apply flex flex-col lg:flex-row pb-4 md:pt-4 px-1 sm:px-2 md:px-4;
}

#sidebar {
  @apply flex flex-col p-8;

  flex-grow: 1;
  max-width: 300px;

  @screen lg {
    position: sticky;
    top: 2rem;
    align-self: flex-start; /* needed for sticky to work in flex context */
  }

  & > a {
    text-align: right;
    @apply mb-4 text-xl uppercase text-gray-500 hover:text-blue-700;
  }
}

#app {
  @apply py-4 px-2 md:px-4 md:p-6 lg:p-8 bg-white shadow-md;

  width: 100%;
  max-width: var(--max-width);
}

@layer base {
  a {
    @apply text-blue-700 tracking-wide;

    &:hover {
      @apply text-blue-500;
    }
  }
}

@layer components {
  .markup {
    @apply prose;

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & :is(h3, h4, h5, h6) {
      @apply text-lg;
    }
  }

  .markup-sm {
    @apply prose prose-sm text-sm;

    & h1 {
      @apply text-lg;
    }

    & :is(h2, h3, h4, h5, h6) {
      @apply text-base;
    }
  }

  .markup,
  .markup-sm {
    hyphens: auto;
    overflow-wrap: break-word;

    /* task lists */
    & li > input[type=checkbox] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .preview {
    @apply line-clamp-4;

    max-height: 10em;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 80%;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(to bottom, transparent, white);
    }
  }

  .section-heading {
    @apply uppercase font-mono text-gray-500 text-sm tracking-wider;
  }

  .form {
    & .field {
      @apply block w-full;
    }

    & textarea {
      @apply p-2;

      resize: none;
      min-height: 19rem;
    }
  }

  .btn {
    @apply py-2 px-6 rounded-sm border-2;
    @apply hover:shadow-lg;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-75 focus:border-opacity-0;

    cursor: pointer;

    &.btn-prime {
      @apply text-white bg-blue-500 rounded-md;
      @apply hover:bg-blue-600;
    }

    &.btn-warn {
      @apply text-white bg-yellow-500 rounded-md;
      @apply hover:bg-yellow-600;
    }

    &.btn-danger {
      @apply text-white bg-red-500 rounded-md;
      @apply hover:bg-red-600;
    }
  }

  .icon-btn {
    @apply uppercase p-3 flex items-center max-w-max shadow-sm hover:shadow-lg rounded-full;
    @apply border-2;
  }

  .modal-container {
    @apply fixed z-10 inset-0 overflow-y-auto flex flex-col items-center pt-16;
    @apply bg-yellow-100;
  }

  .modal {
    @apply bg-white rounded-md shadow-lg;
    max-width: var(--max-width);
  }

  .modal-title {
    @apply text-lg rounded-t-md;
    @apply p-2 sm:p-4 md:p-6;
  }

  .modal-content {
    @apply p-2 sm:p-4 md:p-6;
  }

  .modal-buttons {
    @apply flex justify-end bg-gray-50 rounded-b-md;
    @apply p-2 sm:p-4 md:p-6;
  }
}
