{% extends "base" %}

{% block content %}

<pre class="mb-8">
  <code>
   {{ status }}
  </code>
</pre>

<h3 class="mb-2 uppercase font-medium tracking-wider">Catalogs by type:</h3>
<ul>
  {% for document_type in document_types %}
  <li>
    <a href="/catalogs/{{document_type}}">
      {{ document_type }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
