@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: auto;
  min-height: 100vh;

  color: #333333;
  @apply bg-yellow-100;

  text-rendering: optimizeLegibility;
  @apply antialiased;
}

body {
  @apply pb-4 flex flex-col;

  margin-left: 10vw;
  width: 90vw;
  max-width: 800px;
}

#header {
  @apply flex items-end pl-8 pr-4 py-4 uppercase font-mono text-lg font-medium;
}

#app {
  @apply p-8 bg-white shadow-md flex-grow w-full;
}

@layer base {
  a {
    @apply text-blue-700 tracking-wide;

    &:hover {
      @apply text-blue-500;
    }
  }
}

@layer components {
  .markup {
    @apply prose;

    & h1 {
      @apply text-2xl;
    }

    & h2 {
      @apply text-xl;
    }

    & :is(h3, h4, h5, h6) {
      @apply text-lg;
    }
  }

  .markup-sm {
    @apply prose prose-sm text-sm;

    & h1 {
      @apply text-lg;
    }

    & :is(h2, h3, h4, h5, h6) {
      @apply text-base;
    }
  }

  .markup,
  .markup-sm {
    hyphens: auto;
    overflow-wrap: break-word;

    /* task lists */
    & li > input[type=checkbox] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .section-heading {
    @apply uppercase font-mono text-gray-500 text-sm tracking-wider;
  }

  .form {
    & .field {
      @apply block w-full;
    }

    & textarea {
      @apply p-2;

      resize: none;
      min-height: 19rem;
    }
  }

  .btn {
    @apply py-2 px-6 rounded-sm border-2;
    @apply hover:shadow-lg;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-75 focus:border-opacity-0;

    cursor: pointer;

    &.btn-prime {
      @apply text-white bg-blue-500 rounded-md;
      @apply hover:bg-blue-600;
    }
  }

  .icon-btn {
    @apply uppercase p-3 flex items-center max-w-max shadow-sm hover:shadow-lg rounded-full;
    @apply border-2;
  }
}
