<div>
  {{ search | safe }}

  <ul class="space-y-8">
    {{ entries | safe }}

    {% if has_more %}
    <li class="border-t-2 border-dashed py-6">
      <button
        type="button"
        class="text-blue-800 font-semibold block mx-auto"
        data-js="arhiv_ui.initCatalogLoadMore(this, {{ next_page_filter | json_encode() }}, '{{ parent_collection }}', {{picker_mode}})"
      >
        Load more
      </button>
    </li>
    {% endif %}
  </ul>
</div>
