.Toolbar {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: var(--spacing-fine) 0;
  height: 60px;
  margin-bottom: var(--spacing-medium);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.Toolbar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Toolbar-cell.is-left .Icon,
.Toolbar-cell.is-left .Button {
  margin-right: var(--spacing-medium);
}

.Toolbar-cell.is-right .Icon,
.Toolbar-cell.is-right .Button {
  margin-left: var(--spacing-medium);
}
