.editor-container {
  display: block;
  position: relative;

  &[readonly] .cm-editor .cm-cursorLayer {
    display: none;
  }

  &[disabled] {
    cursor: unset;
  }

  .cm-editor {
    @apply border-2;

    &.cm-focused {
      @apply outline-none ring-2 ring-blue-600 ring-opacity-75 border-opacity-0 !important;
    }

    & .cm-scroller {
      overflow: auto;
    }

    & .cm-content {
      @apply pl-1 pr-px;
    }

    & .cm-lineWrapping {
      @apply break-all;
    }

    & .cm-gutter,
    & .cm-content {
      min-height: 19rem;
    }
  }

  .edit-btn {
    @apply bg-indigo-100 drop-shadow-md;
  }

  @media (hover: hover) {
    & .edit-btn {
      @apply invisible opacity-0 transition-opacity;
    }

    &:hover .edit-btn {
      @apply visible opacity-100;
    }
  }
}
