.editor-container {
  position: relative;
  width: 100%;

  & > v-form-field {
    padding: 0;
  }

  &[readonly] .cm-editor .cm-cursorLayer {
    display: none;
  }

  &[disabled] {
    cursor: unset;
  }

  .cm-editor {
    & .cm-panels {
      z-index: 1;
    }

    & .cm-panels.cm-panels-bottom {
      border: 0 none;
      @apply bg-neutral-200/70 dark:bg-neutral-800/70;
    }

    &.cm-focused {
      @apply custom-focus border-transparent;
    }

    & .cm-scroller {
      overflow: auto;
    }

    & .cm-content {
      @apply pl-1 pr-px;
    }

    & .cm-lineWrapping {
      @apply break-all;
    }

    & .cm-gutter,
    & .cm-content {
      min-height: 19rem;
    }

    & .cm-activeLine {
      @apply bg-transparent;
    }
    &.cm-focused .cm-activeLine {
      @apply bg-blue-300/30 dark:bg-blue-700/30;
    }
    & .cm-placeholder {
      @apply var-placeholder-color;
    }
    & .cm-cursor {
      @apply border-slate-800 dark:border-slate-100;
      border-width: 1.4px;
    }
  }

  .editor-btn,
  .editor-edit-btn {
    @apply bg-indigo-100 dark:bg-indigo-900 drop-shadow-md cursor-pointer;
  }

  .editor-edit-btn {
    @apply sticky bottom-2 sm:bottom-4 float-right mr-2 sm:mr-4 mt-1;
  }

  @media (hover: hover) {
    & .editor-edit-btn {
      @apply invisible opacity-0 transition-opacity;
    }

    &:hover .editor-edit-btn {
      @apply visible opacity-100;
    }
  }
}
