.editor-container {
  display: block;
  position: relative;

  &[readonly] .cm-editor .cm-cursorLayer {
    display: none;
  }

  &[disabled] {
    cursor: unset;
  }

  .cm-editor {
    @apply border-2;

    &.cm-focused {
      @apply outline-none ring-2 ring-blue-600 ring-opacity-75 border-opacity-0 !important;
    }

    & .cm-scroller {
      overflow: auto;
    }

    & .cm-content {
      @apply pl-1 pr-px;
    }

    & .cm-lineWrapping {
      @apply break-all;
    }

    & .cm-gutter,
    & .cm-content {
      min-height: 19rem;
    }

    & .cm-activeLine {
      @apply bg-transparent;
    }
    &.cm-focused .cm-activeLine {
      @apply var-item-active-bg-color;
      @apply bg-opacity-50 dark:bg-opacity-40;
    }
    & .cm-placeholder {
      @apply var-placeholder-color;
    }
    & .cm-cursor {
      @apply border-slate-800 dark:border-slate-100;
      border-width: 1.4px;
    }
  }

  .editor-btn,
  .editor-edit-btn {
    @apply bg-indigo-100 dark:bg-indigo-900 drop-shadow-md;
  }

  @media (hover: hover) {
    & .editor-edit-btn {
      @apply invisible opacity-0 transition-opacity;
    }

    &:hover .editor-edit-btn {
      @apply visible opacity-100;
    }
  }
}
