@layer components {
  .workspace-cards {
    @apply flex flex-row items-start gap-6 h-full pt-12 pb-2 pl-1 pr-4 md:px-8;
    @apply overflow-x-auto custom-scrollbar scroll-smooth snap-x snap-mandatory;
  }

  .card-container {
    @apply var-card-width min-h-[50%] max-h-full overflow-hidden shrink-0 grow-0 var-bg-color drop-shadow-sm relative transition-opacity;
    @apply overscroll-x-contain snap-center snap-always;
  }

  .card-content {
    @apply overflow-auto custom-scrollbar px-4 pb-6;
  }

  .card-toolbar {
    @apply var-bg-color px-4 py-2;

    @apply grid gap-4 items-center;
    grid-template-columns: min-content auto auto;

    & .card-toolbar-left {
      @apply flex items-center gap-4 justify-start grow;
      justify-self: start;
    }

    & .card-toolbar-title {
      @apply cursor-default text-gray-400 dark:text-gray-600 text-sm tracking-wide truncate;
    }

    & .card-toolbar-right {
      @apply flex items-center gap-1 justify-end grow;
      justify-self: end;
    }
  }
}
