@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/v-editor/index.css';
@import './components/Button.css';
@import './components/Dialog.css';
@import './components/Markup.css';
@import './components/Form/index.css';
@import './components/ComponentsDemo.css';

@layer utilities {
  .var-bg-color {
    @apply bg-zinc-100;
  }

  .var-card-width {
    width: 39rem;
  }

  .var-active-color {
    @apply text-blue-800 hover:text-blue-600;
  }

  .buttons {
    @apply flex justify-end gap-8;
    @apply p-2 sm:p-4 md:p-6;
  }
}

@layer components {
  .section-heading {
    @apply uppercase font-mono text-gray-400 text-xs tracking-widest;
  }

  .form-field-heading {
    @apply font-semibold text-sky-800 uppercase text-sm;
  }

  .icon {
    @apply inline h-5 w-5;
  }

  .audio-player {
    @apply bg-stone-100;

    & button {
      @apply text-gray-600 hover:text-sky-800;

      &[disabled] {
        @apply text-gray-300 hover:text-gray-300;
      }
    }

    & input[type='range'] {
      @apply block h-2 bg-blue-100 appearance-none cursor-pointer rounded-md;

      &[disabled] {
        @apply cursor-default;
      }
    }
  }
}

@layer base {
  /* make taps faster - browser doesn't wait 300ms for double-tap to zoom */
  a,
  button {
    touch-action: manipulation;
  }

  [hidden] {
    display: none !important;
  }

  html,
  body {
    margin: 0;
    padding: 0;

    height: fit-content;
    width: fit-content;

    text-rendering: optimizeLegibility;
    @apply antialiased;

    color: #333;
    @apply var-bg-color;

    font-size: 16px;
  }

  main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  #document-head {
    @apply relative text-sm;

    & td {
      @apply pb-1 tracking-wide;
    }

    & td:first-child {
      text-align: right;
      padding-right: 0.6rem;
      padding-bottom: 0;
      vertical-align: middle;
    }
  }

  #modal-root {
    z-index: 1;
  }
}
