@layer base {
  input,
  textarea,
  select,
  v-form-field {
    min-width: 65%;

    @apply border border-2 border-solid rounded-none var-form-border-color;
    @apply block var-bg-color text-gray-900 dark:text-white p-2.5;

    &:user-invalid {
      @apply var-form-error-border;
    }

    &:focus {
      @apply custom-focus;
    }

    &[disabled] {
      @apply bg-gray-100 dark:bg-gray-600;
    }

    &[readonly] {
      @apply bg-gray-100 dark:bg-gray-600;

      &:is(select) option {
        display: none;
      }
    }
  }

  input::placeholder,
  textarea::placeholder {
    @apply var-placeholder-color;
  }

  v-form-field {
    min-width: auto;
  }

  select,
  input[type='number'] {
    min-width: 10rem;
  }

  input[type='checkbox'] {
    @apply size-4 rounded-none inline-block align-middle;
    @apply text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600;
    min-width: auto;
  }

  textarea {
    @apply p-2;

    resize: none;
    min-height: 19rem;
    overflow-y: hidden;
  }
}

@layer components {
  .form-field-heading {
    @apply font-semibold text-sky-800 uppercase text-sm;

    &.has-errors {
      @apply text-red-500;
    }
  }
}
